<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/Doubts_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n = 5

for i in range(n-1):
  print(" " * (n-i-1) + "*" + " " * ((2*i)-1) + ("*" if i else ""))
print("*" * (2*n - 1))

    *
   * *
  *   *
 *     *
*********

In [5]:
n = 3
"even" if n%2 == 0 else "odd"

'odd'

In [8]:
n = 5
for i in range(n):
  for j in range(n):
    print( max(i+1, j+1, n-i, n-j), end=" " )
  print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

```
0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5
```

In [17]:
n = 5

for i in range(n):
  print("0 " * (n-i-1), end = "")

  for j in range(i+1, 2*(i+1)):
    print(j, end = " ")

  for j in range(2*i, i, -1):
    print(j, end = " ")
  

  print("0 " * (n-i-1))

0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

In [13]:
for i in range(n): 
  for j in range(n - i, 1, -1): 
    print(' ', end='') 
  for k in range(i + 1): 
    print(i+k+1, end=' ') 
  for m in range(i): 
    print(2*i-m, end=' ') 
  print()

    1
   2 3 2
  3 4 5 4 3
 4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [19]:
n = 5
for i in range(n): 
  for j in range(n-i, 1, -1): 
    print('0 ', end='') 

  for k in range(2*i+1): 
    print((n-i) * (k+1), end=' ') 

  for m in range(n-i, 1, -1): 
    print('0 ', end='') 
  print()

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

```
0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9
```

In [18]:
n = 5
for i in range(n):
  print("0 " * (n-i-1), end = "")

  for j in range(2*i+1):
    print((j+1)*(n-i), end = " ")

  print("0 " * (n-i-1))

0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

```
1234
123
12
1
```

In [25]:
n = 4
for i in range(n):
  for j in range(n-i):
    print(str(j+1) + (" " if j != n-i-1 else ""), end = "")
  print()

1 2 3 4
1 2 3
1 2
1

```
input = 37910
output = 3, 7, 9, 1, 0, 37, 79, 91, 10, 379, 791, 910
```

In [36]:
a = "37910"
n = len(a)

for i in range(n):
  for j in range(n - i):
    print(a[j:j+i+1])

3
7
9
1
0
37
79
91
10
379
791
910
3791
7910
37910

In [34]:
name = "scaler"
name[2:5]

'ale'

In [ ]:
n = list("34590") 
max_size = 4 
answer = [] 

for i in range(max_size): 
  for j in range(len(n)-i): 
    l = "" 
    for k in range(j,j+i+1): 
      l += n[k] 
    answer.append(l) 
  print(answer)