<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]

# Return a list with squares of even number

In [2]:
def even_squares(arr):
  result = []
  for i in arr:
    if i % 2 == 0:
      result.append(i**2)
  return result

even_squares(a) # Highly abstracted

In [3]:
def get_even_numbers(arr):
  result = []
  for i in arr:
    if i % 2 == 0:
      result.append(i)
  return result

def squares(arr):
  return [i**2 for i in arr]

print(squares(get_even_numbers(a))) # Low abstraction

In [4]:
names = ["Vineet", "Ashish", "Nabina", "Pranav", "Samuel", "Vipul", "Anup"]
marks = [100, 90, 95, 80, 92, 99, 96]

In [6]:
names.index("Pranav")

3

In [7]:
marks[3]

80

In [ ]:
students = [
    {"name": "Vineet", "marks": 100}, 
    {"name": "Ashish", "marks": 90}, 
]

In [9]:
class Member:
  name = ""

In [10]:
m1 = Member()
m1.name = "Jatin"

In [11]:
print(m1.name)

Jatin

In [12]:
m2 = Member()
print(m2.name)

In [13]:
m2.name = "Vineet"
print(m2.name)

Vineet

In [29]:
class Member:
  def __init__(self, name, id):
    self.name = name
    self.id = id

In [30]:
m1 = Member("Vineet", 1)

In [25]:
print(m1.name)

Vineet

In [31]:
m2 = Member("Jatin", 2)
print(m2.name)

Jatin

In [27]:
m3 = Member()

TypeError: ignored

In [60]:
class Member:
  def __init__(self, name):
    self.name = "Sir/Maam " + name

  def intro(self):
    print("Hello my name is", self.name)

class Teacher(Member):
  # This Overriding the init method of member
  def __init__(self, name, subject):
    super().__init__(name)
    self.subject = subject
  
class Student(Member):
  def __init__(self, name, course):
    super().__init__(name)
    self.course = course

In [61]:
t1 = Teacher("Jatin", "Python")

teacher initialisation
member initialisation

In [59]:
t1.name

'Sir/Maam Jatin'

In [54]:
t1.intro()

I'm your teacher don't ask for intro

In [63]:
class Counter:
    def __init__(self):
        self.count = 5
        self.count = self.count + 1

c = Counter()
print(c.count)

6

In [66]:
class Car:
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage
  
  def __add__(self, other):
    return self.mileage + other.mileage

In [67]:
c1 = Car("Swift", 17)
c2 = Car("i20", 14)

c1 + c2
c1.__add__(c2)

31