<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/Pattern_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n = 5

for i in range(n):
  if i == 0 or i == n-1:
    print("* " * n)
  else:
    print("* " + "  " * (n-2) + "* ")

* * * * *
*       *
*       *
*       *
* * * * *

In [4]:
n = 5

# Print 1st line
for i in range(n):
  print("* ", end = "")
# go to new line
print()

# Print Middle Portion
for i in range(n-2):
  # print 1st star
  print("* ", end = "")

  # print spaces
  for i in range(n-2):
    print("  ", end = "")

  # print last star
  print("* ")


# Print last line
for i in range(n):
  print("* ", end = "")

* * * * *
*       *
*       *
*       *
* * * * *

In [8]:
n = 5

for i in range(n):
  print(" " * (n-i-1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *

HW 
Fix my code

In [22]:
n = 5

for i in range(n-1):
  print(" " * (n-i-1) + "*" + " " * (2*i - 1) + "*")
print("*" * (n*2 - 1))

    **
   * *
  *   *
 *     *
*********

In [12]:
" " * 1

''

In [25]:
n = 4
count = 1

for i in range(n):
  for j in range(i+1):
    print(count, end = " ")
    count += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [26]:
names = {
    "0": "zero",
    "1": "one",
    "2": "two",
    "3": "three",
    "4": "four",
    "5": "five",
    "6": "six",
    "7": "seven",
    "8": "eight",
    "9": "nine"
}

In [28]:
n = "7254"

for x in n:
  print(names[x])

seven
two
five
four

In [ ]:
t = int(input())
while t > 0 :
  t -= 1

  number = int(input())
  rev = 0
  while (number > 0):
    rev = (rev * 10) + number % 10
    number = number // 10
  print(rev)

In [29]:
n=4
for i in range(n): 
  for j in range(n): 
    if i==0 or i==n-1 or j==0 or j==n-1: 
      print("*",end="") 
    else:
      print(" ",end="")     
  print()

****
*  *
*  *
****

In [30]:
n=int(input())
for i in range(2,n):
  if(n%i)==0:
    break
  else:
    print(n)

21
21

In [33]:
n=int(input()) 
for i in range(n): 
  for j in range(n): 
    for k in range(0,((n+1)//2)): 
      if i==k or i==n-k-1 or j==k or j==n-k-1: 
        print(n-k,end="") 
        break 
  print()

6
666666
655556
654456
654456
655556
666666

In [35]:
n = 765123

int(str(n)[::-1])

321567

In [38]:
n = 5 
for i in range(n-1): 
  print(" "*(n-i-1)+"*",end="") 
  if(i!=0): 
    print(" "*(2*i-1)+"*") 
  else:
    print()
print("*"*(2*n-1))

    *
   * *
  *   *
 *     *
*********

In [41]:
for row in range(5):
  for col in range(5):
    print((row, col), end = " ")
  print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

In [42]:
n = 5
for i in range(n): 
  string="" 
  for j in range(1,n-i+1): 
    string=string+str(j)+" " 
    l=len(string) 
  print(string[:l-1])

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1