<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/Problem_Solving_and_Doubts_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Take a list of numbers as input and print their squares

Sample Input:
```
1 2 3 4
```

Sample Output:
```
1 4 9 16
```

In [5]:
arr = input().split(" ")
for i in range(len(arr)):
  arr[i] = int(arr[i])

1 2 3 4

In [6]:
arr

[1, 2, 3, 4]

In [12]:
arr = list(map(int, input().split()))

1 2 3 4

In [10]:
for x in arr:
  print(x)

1
2
3
4

In [11]:
input().split(" ")

1 2 3 4

['1', '2', '3', '4']

In [13]:
int("abc")

ValueError: ignored

In [15]:
int("1 2 3 4".replace(" ", ""))

1234

```
6 5 1 2 3 4 5
```

In [16]:
arr = list(map(int, input().split()))

6 5 1 2 3 4 5

In [17]:
arr[1:]

[5, 1, 2, 3, 4, 5]

In [18]:
input()

123456789987sdfghjkjhgf.

'123456789987sdfghjkjhgf.     '

```
int a;
cin >> a;
```

```
1 2 3
```

```
a = 1
```

```
5 1 2 3 4 5
```

In [20]:
a = list(map(int, input().split()))
a[1:]

5 1 2 3 4 5

[1, 2, 3, 4, 5]

You are given two matrices A & B of equal dimensions and you have to check whether two matrices are equal or not

In [32]:
def solve(A, B): 
  for i in range(len(A)): 
    for j in range(len(A[i])):
      if A[i][j] != B[i][j]: 
        return 0
  return 1

In [26]:
A = [[100, 200, 300], [4, 5, 6], [7, 8, 9456789876543]]
B = [[100, 200, 300], [4, 5, 6], [7, 8, 9456789876543]]

solve(A, B)

1

In [27]:
A == B

True

Which of the options are true that define a set s consisting of strings 'Scaler', 'Academy', 'is', 'Awesome'?
```
s = set(['Scaler', 'Academy', 'is', 'Awesome'])
s = set('Scaler', 'Academy', 'is', 'Awesome')
s = set('Scaler Academy is Awesome')
s ={'Scaler', 'Academy', 'is', 'Awesome'}
```

In [29]:
set('Scaler', 'Academy', 'is', 'Awesome')

TypeError: ignored

In [30]:
set('Scaler Academy is Awesome')

{' ', 'A', 'S', 'a', 'c', 'd', 'e', 'i', 'l', 'm', 'o', 'r', 's', 'w', 'y'}

In [31]:
set?

a=[1,56,6,8,5,65,2145,24,7]
1,7,8 in a output-
(1, 7, True)

In [36]:
a=[1,56,6,8,5,65,2145,24,7]

In [37]:
b = [1, 7, 8]

In [40]:
a_set = set(a)
for x in b:
  if x in a_set:
    print("True")
  else:
    print("False")

True
True
True

In [41]:
a={1,56,6,8,5,65,2145,24,7}

1, 7, 8 in a

(1, 7, True)

In [42]:
a = 1, 2, 3 + 6

In [43]:
type(a)

tuple

In [44]:
a

(1, 2, 3)

In [45]:
a = 100
def foo():
  a = 200
  def bar():
    nonlocal a
    a = 300
    def baz():
      nonlocal a
      a = 400
      print(a)
    baz()
    print(a)
  bar()
  print(a)
foo()
print(a)

400
400
400
100

Given an integer array A, find the inverse of the array A and return it. All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).

```
A = [3, 1, 0, 2]
```

```
2 1 3 0
```

```
45
65
78
```

In [46]:
input()

45

'45'

In [ ]:
for i in range(3):
  a = input()

```
Write a function to print out the frequency of all the unique elements present in a given tuple. output format is 10 : 3
8 : 4
5 : 2
2 : 2
15 : 1 where left side are element and right side is frequency
```

In [48]:
arr = (10, 10, 10, 8, 8, 8, 8, 5, 5, 2, 2, 15)

In [ ]:
ft = {
    10: 2
}

for x in arr:
  if x in ft:
    ft[x] += 1
  else:
    ft[x] = 1

In [52]:
"12".isnumeric()

False

In [55]:
a = "12qfce3sd353sf3231"

temp = ""
result = []
for char in a + " ":
  if char.isnumeric():
    temp += char
  elif temp.isnumeric():
    result.append(int(temp))
    temp = ""

In [56]:
result

[12, 3, 353, 3231]

In [57]:
a = {
    "name": "scaler",
    "domain": "edtech",
    "rating": 100
}

In [61]:
for key, value in a.items():
  print(key, "=>", "va")

name => scaler
domain => edtech
rating => 100