<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/Problem_Solving_and_Doubt_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 'hello'
b = a
a = 'yello' 
print(b)
print(a)

hello
yello

In [ ]:
a = [1, 2, 3]
b = a
a = [4, 5, 6]

print(a)
print(b)

[4, 5, 6]
[1, 2, 3]

In [ ]:
a = [1, 2, 3]
b = a
a[0] = 100

print(a)
print(b)

In [ ]:
a = 3
print(id(a))
a = 5
print(id(a))

11530976
11531040

Given the input date in DD/MM/YYYY format as a string, write a function that returns the converted date in the string formats MM/DD/YYYY and YYYY/MM/DD and return the new date formats.

In [ ]:
def date_format(input_date):
  date, month, year = input_date.split("/")

  return f"{month}/{date}/{year}", f"{year}/{month}/{date}"

In [ ]:
date_format("03/09/2001")

09/03/2001
2001/09/03

In [ ]:
a = "1,2,3,4,55"

a.split(",")

['1', '2', '3', '4', '55']

You are given lowercase string (A) and you have to tell the count of vowels and consonants in it.

In [ ]:
vowels = set('aeiou')
input_string = "scaleracademy"

vowels_count = 0
consonents_count = 0

for char in input_string:
  if char in vowels:
    vowels_count += 1
  else:
    consonents_count += 1

In [ ]:
print(vowels_count)
print(consonents_count)

5
8

Given an index k, return the kth row of the Pascal's triangle. What would be the logic for thic?

In [ ]:
prev_row = [1]
print(prev_row)

for i in range(10):
  new_row = []

  new_row.append(prev_row[0])
  for j in range(len(prev_row)-1):
    new_row.append(sum(prev_row[j:j+2]))
  new_row.append(prev_row[-1])

  print(new_row)

  prev_row = new_row

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]

Take an integer N as input, print the corresponding pattern for N.
Skip Even Numbers Half Pyramid
can you please explain this question

In [ ]:
n = 10

# 1
# 1_
# 1_3
# 1_3_
# 1_3_5

for i in range(1, n+1):
  for j in range(1, i+1):
    print("_" if j % 2 == 0 else j, end="")
  print()

1
1_
1_3
1_3_
1_3_5
1_3_5_
1_3_5_7
1_3_5_7_
1_3_5_7_9
1_3_5_7_9_

given an integer array A,find the inverse of the array A and return it all the elements of the given array are distinct and elements of array lie in the range [0,|A|] A=[2,0,1] -------[ 1,2,0]----

In [ ]:
# arr = [4, 1, 3, 2, 7]

# A = [3, 1, 0, 2]
# Output 2:
# [2, 1, 3, 0]


# A = [3, 1, 0, 2]
A = [1, 3, 4, 6, 2, 0, 5]
n = len(A)
result = [None] * n

for i in range(n):
  result[A[i]] = i
print(result)

[5, 0, 4, 1, 2, 6, 3]

You are given a matrix A and and an integer B, you have to perform scalar multiplication of matrix A with an integer B

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
B = 10

for i in range(len(A)):
  for j in range(len(A[i])):
    A[i][j] *= 10
print(A)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
B = 10
print([[j*B for j in i] for i in A])

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

`replace` methods in string

In [ ]:
a = "scaler"

In [ ]:
a.replace("a", "i")

'sciler'

In [ ]:
a

'scaler'

In [ ]:
"aaaabbbccc".replace("a", "x", -2)

'xxxxbbbccc'

In [ ]:
"".join(reversed("scaler"))

'relacs'

In [ ]:
"scaler"[::-1]

'relacs'

`in` operator

In [ ]:
"s" in "something"

True

In [ ]:
"some" in "something"

True

In [ ]:
1 in [1, 2, 3, 4]

True

In [ ]:
[1, 2] in [1, 2, 3, 4]

False

In [ ]:
[1, 2] in [[1, 2], 4, 5, 6]

True

`f-string` in python

In [ ]:
name = input()
subject = input()

print("Hello my name is " + name + " and I study " + subject)

Jatin
Python
Hello my name is Jatin and I study Python

string interpolation

In [ ]:
name = input()
subject = input()

print("Hello my name is {} and I study {}".format(name, subject))

Jatin
python
Hello my name is Jatin and I study python

In [ ]:
name = input()
subject = input()

print(f"Hello my name is {name} and I study {subject}")

Jatin
Python
Hello my name is Jatin and I study Python

You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists.

In [ ]:
# a = list(set([5, 1, 2, 3, 9, 4, 7, 8, 3, 4]))
a = list(set([4, 4, 4, 4]))

if len(a) > 1:
  maximum = a[0] if a[0] > a[1] else a[1]
  second_maximum = a[0] if a[0] < a[1] else a[1]
  for x in a[2:]:
    if x > maximum:
      second_maximum = maximum
      maximum = x
    elif x > second_maximum:
      second_maximum = x

  print(second_maximum)
else:
  print("no second maximum")

no second maximum

In [ ]:
a = list(set([5, 1, 2, 3, 9, 4, 7, 8, 3, 4]))

a.remove(max(a))
print(max(a))

Given a sorted integer array A, and an integer B. Find the first and last index of B in A.
It is guaranteed that B exists in A. Return an array C of size 2, where C[0] is the first index of B in A and C[1] is the last index of B in A.

In [ ]:
def solve(A, B):
  n = len(A)
  first_index = A.index(B)
  last_index = n - A[::-1].index(B) - 1

  return first_index, last_index

In [ ]:
A = [1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6]
B = 3

solve(A, B)

(2, 4)

In [ ]:
a="hi everyone"
c=list(a)
print(c)

x = c[0]
x = "blah blah"

['h', 'i', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e']

In [ ]:
a="hi everyone"
c=list(a)
for x in c:
  if x==" ":
    x="-"
print(c) 

for x in range(len(c)):
  if c[x]==" ":
    c[x]="-"
print(c)

You have to tell the leftmost occurrence of the character having ASCII code equal to B, in A or report that it does not exist.

In [ ]:
chr(97)

'a'

In [ ]:
def solve(A, B):
  return A.find(chr(B))

In [ ]:
solve("scaler", 97)

2