<a href="https://colab.research.google.com/github/scaleracademy/dsml-beginner-oct-22/blob/main/Sorting_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5 + 9
b = 2 * 8
c = 2 ** 3

In [ ]:
a = 5 < 9

In [ ]:
def summation(n):
  s = 0
  a = 5 + 6
  for i in range(10):
    print(x)

  for x in range(n):
    s += x

In [1]:
def summation(n):
  if n == 10:
    return -1

  for x in range(n):
    s += x

In [ ]:
summation(100)

In [ ]:
def foo(n):
  for i in range(n):
    for j in range(n):
      print(i + j)

In [ ]:
def summation(n):
  s = 0
  for x in range(n):
    if x == 10:
      return s
    s += x

In [ ]:
summation(1000)

In [ ]:
def summation(n):
  s = 0
  s1 = 100000
  for x in range(n):
    s += x
  
  for x in range(n):
    s1 -= x

In [ ]:
def foo(n):
  i = n
  while i > 1:
    i /= 2

In [ ]:
def foo(n):
  s = 0
  for x in range(n//2):
    s += x

In [2]:
def merge(arr1, arr2):
  i = 0 # iterate over arr1
  j = 0 # iterate over arr2
  result = []

  while i < len(arr1) and j < len(arr2):
    if arr1[i] < arr2[j]:
      result.append(arr1[i])
      i += 1
    else:
      result.append(arr2[j])
      j += 1

  if i < len(arr1):
    result = result + arr1[i:]

  if j < len(arr2):
    result = result + arr2[j:]
  
  return result

In [3]:
merge([1, 9, 12], [3, 10, 14, 16, 18])

[1, 3, 9, 10, 12, 14, 16, 18]

In [ ]:
a = [9]

```
for (i=N;i>0;i=i/2){for(j=1;j<=i;j++){print(i+j)}}
```