In [5]:
def linear_search(list1, target):
  for index in range(len(list1)):
    if list1[index]==target:
      return index
  return False

list1 = [2,3,4,4,6,7,9,139]
target = 9
linear_search(list1, target)

6

Standard Binary Search:

In [48]:
def binary_search(list1, target):
  lo, hi = 0, len(list1)-1
  while lo<=hi:
    mid = (lo+hi)//2
    if target>list1[mid]:
      lo = mid+1
    elif target<list1[mid]:
      hi = mid-1
    else:
      return mid
  
  return -1
    
list1 = [22,44]
target = 44
binary_search(list1, target)

1

In [ ]:
def binary_search(list1, target, lo, hi):
  # remove pass and write your code here recursive
  pass
  
  
  return -1
    
list1 = [22,44]
target = 44
binary_search(list1, target, 0 , len(list1)-1)

In [52]:
def binary_search(list1, target, lo, hi):
  # remove pass and write your code here recursive
  if lo<=hi:
    mid = (lo+hi)//2
    if target>list1[mid]:
      return binary_search(list1, target, mid+1, hi)
    elif target<list1[mid]:
      return binary_search(list1, target, lo, mid-1)
    else:
      return mid
  return -1
    
list1 = [22,44]
target = 44
binary_search(list1, target, 0 , len(list1)-1)

1

Next Largest Element or Last Element if next Largest not available

In [43]:
def binary_search(list1, target):
  lo, hi = 0, len(list1)-1
  while lo<=hi:
    mid = (lo+hi)//2
    if target>list1[mid]:
      lo = mid+1
    elif target<list1[mid]:
      hi = mid-1
    else:
      return mid
  return mid, list1[mid]
    
list1 = [2,3,4,4,6,7,9,139]
target = 8
binary_search(list1, target)

(6, 9)

### Binary Search on Matrix

In [11]:
matrix = [[1,2,3,4],
          [5,7,8,9],
          [10,20,30,40]
          ]
target = 2

# step1: Identify row with Binary Search
n_rows = len(matrix)
n_cols = len(matrix[0])


first_elem = []
for i in range(n_rows):
  first_elem.append(matrix[i][0])
first_elem

[1, 5, 10]

In [12]:
lo, hi = 0, len(first_elem)-1

while lo<=hi:
    mid = (lo+hi)//2
    if target>first_elem[mid]:
      lo = mid+1
    elif target<first_elem[mid]:
      hi = mid-1
    else:
      break 

if matrix[mid][0]>target:
  row_num = mid-1
else:
  row_num = mid

print(row_num)

0

In [13]:
list1 = matrix[row_num]
lo, hi = 0, len(list1)-1
while lo<=hi:
  mid = (lo+hi)//2
  if target>list1[mid]:
    lo = mid+1
  elif target<list1[mid]:
    hi = mid-1
  else:
    print(row_num, mid)
    break

0 1

### Bubble Sort

In [31]:
def bubble_sort(arr):
  for i in range(len(arr)):
    for j in range(0,len(arr)-1):
      if arr[j]>arr[j+1]:
        arr[j+1],arr[j]=arr[j], arr[j+1]

  return arr

arr = [46, 86, 55, 13, 19, 40, 80, 78]

bubble_sort(arr)

[13, 19, 40, 46, 55, 78, 80, 86]

Required number of passes? N-1 Passses

In [32]:
def bubble_sort(arr):
  for i in range(len(arr)):
    for j in range(0,len(arr)-1-i):
      if arr[j]>arr[j+1]:
        arr[j+1],arr[j]=arr[j], arr[j+1]

  return arr

arr = [46, 86, 55, 13, 19, 40, 80, 78]

bubble_sort(arr)

[13, 19, 40, 46, 55, 78, 80, 86]

In [35]:
def bubble_sort(arr):
  for i in range(len(arr)):
    swap = False
    for j in range(0,len(arr)-1-i):
      if arr[j]>arr[j+1]:
        swap = True
        arr[j+1],arr[j]=arr[j], arr[j+1]
      
    if swap==False:
      return arr

  return arr

arr = [46, 86, 55, 13, 19, 40, 80, 78]

bubble_sort(arr)

[13, 19, 40, 46, 55, 78, 80, 86]


For 1 pass, maximum no. of comparisons is n-1.
Similarly for 2 passes maximum no. of comparisons is (n-1) + (n-2)
..
For k passes maximum no. of comparisons is (n-1) + (n-2) + …+ (n-k)
= k(n) - (k(k+1)/2)
= (2kn - k2 - k)/2

In [29]:
def bubbleSort(arr,k):
    for i in range(k):
        for j in range(0, k-i-1):
            if arr[j] > arr[j + 1] :
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    
    res= arr[0]+arr[-1]
    return res

arr = [46, 86, 55, 13, 19, 40, 80, 78]
k = 6

bubbleSort(arr,k)

91

### Selection Sort:

In [37]:
def selection_sort(arr):
  for i in range(len(arr)):
    min_ind = i 
    for j in range(i+1, len(arr)):
      if arr[j]<arr[min_ind]:
        min_ind = j 

    if min_ind!=i:
      arr[i], arr[min_ind]= arr[min_ind], arr[i]
  return arr

arr = [46, 86, 55, 13, 19, 40, 80, 78]
selection_sort(arr)

[13, 19, 40, 46, 55, 78, 80, 86]

ap: O(n^2)

Insertion Sort:

In [40]:
def insertionsort(arr):
  for i in range(1, len(arr)):
    index_to_insert = i
    j = i-1 
    while j>=0:
      if arr[j]<arr[index_to_insert]:
        break

      else:
        arr[j], arr[index_to_insert]=  arr[index_to_insert], arr[j]
        index_to_insert=j
        j-=1
  return arr

arr = [46, 86, 55, 13, 19, 40, 80, 78]
insertionsort(arr)

[13, 19, 40, 46, 55, 78, 80, 86]